/* A BIT OF TYPOGRAPHY */

.body {
    font-family: 'Bitter';
    font-weight: 300;
    font-size: 1em;
    line-height: 1.5;
    color: rgba(57, 133, 171, 0.48);
}


/*Page links*/

a:hover {
    text-decoration: underline;
    color: red;
}

a:active,
a:link,
a:visited {
    text-decoration: underline;
}


/*Action call links*/

h1 {
    text-decoration: underline;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: black;
}

h2,
h3 {
    font-weight: 700;
    color: black;
    font-family: 'Source Sans Pro', sans-serif;
}

b {
    font-weight: 700;
}

p {
    margin: 2em 0 2em 0;
    font-family: 'Source Sans Pro', sans-serif;
}

.highlighted {
    background-color: darkgray;
}

.strongtext {
    font-size: 20px;
}

.p-links {
    font-size: 20px;
    color: red;
}

.actionlinks {
    color: white;
    padding: 25px;
}

.techimages {
    height: 200px;
    width: 200px;
}

.techtext {}

.centeredtext {
    text-align: center;
}

.moved-right {
    text-align: right;
}

#pagehead {
    margin: 2em auto;
    max-width: 40em;
    padding-right: 0 1em;
    padding-left: 0 1em;
    background-color: white;
    padding-right: 20px;
    padding-left: 20px;
    line-height: 1.8;
    box-shadow: -6px 6px 32px -1px rgba(0, 0, 0, 0.75);
    text-decoration: none;
}


/*flex to center stuff*/

.h-centred {
    display: flex;
    justify-content: center;
    text-align: center;
}

.v-centred {
    display: flex;
    align-items: center;
}


/*Content IDs+Section IDs*/

#actioncall {
    /*text-align: center;
    background-color: red;
    border: 2px solid white;
    border-radius: 6px;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;*/
    color: #202020;
    background-color: #E03C31;
    letter-spacing: .1em;
    text-shadow: -1px -1px 1px #111, 2px 2px 1px #363636;
    font-size: 30px;
    padding: 80px 50px;
    text-align: center;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    text-decoration: none;
}

.borders {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}


/*IMAGE IDS*/

#glenn {
    height: 150px;
    width: 150px;
    margin-top: 20px;
    margin-right: 20x;
}


}
#laptop {
    height: 150px;
}
#glentable {
    padding-right: 20px;
}

/* CENTRED CONTENT */
.content {
    margin: 2em auto;
    max-width: 40em;
    padding: 0 1em;
    background-color: white;
    padding: 20px;
    border: 20px solid #FAFAFA;
    line-height: 1.8;
    box-shadow: -6px 6px 32px -1px rgba(0, 0, 0, 0.75);
}

/* LOGO */
.logo {
    width: 270px;
}
.logo img {
    width: 100%;
    max-height: 22em;
}

/* FULL-SIZE IMAGES */
html,
body {
    height: 100%;
    background-color: #005f6b;
}
.full {
    height: 100%;
    background-color: darkgray;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative;
}
#one {
    background-image: url("images/topbg.jpeg");
    height: 37%;
    align-items: flex-end;
}

/* see more on https://una.im/CSSgram/ */
#one:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    background: #383838;
    mix-blend-mode: lighten;
}
#two {
    background-image: url(images/snowdenlarge.jpg);
    height: 70%;
}
#two:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    background: radial-gradient(circle, transparent 70%, #222 110%);
    mix-blend-mode: multiply;
    /*opacity: 0.4;
    filter: alpha(opacity=40);*/
}
#three {
    background-image: url("images/surv.jpg");
    /*opacity: 0.4;
filter: alpha(opacity=40);*/
    
    height: 50%;
}
#four {
    background-image: url(../images/grab.jpg);
}
#five {
    background-image: url("images/bottom.jpeg");
    opacity: 0.4;
    filter: alpha(opacity=40);
    height: 0%;
}

/* MAILCHIMP FORM */
#mc_embed_signup {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30em;
    height: 13em;
    margin: -6.5em 0 0 -15em;
    background: darkgray;
    border: 2px solid black;
}
input {
    box-sizing: border-box;
    width: 100%;
}
input[type="email"] {
    padding: .5em;
}
input[type="submit"] {
    margin: 1em 0;
    background-color: black;
    color: white;
    border-radius: .25em;
    border: none;
    padding: .5em;
    /*font-size: 1.5em;*/
}

/*Phone Animation*/
.button {
    background: white;
    padding: 1rem;
    cursor: pointer;
}
#revealNext {
    margin-top: -100px;
    margin-left: 350px;
}
#invertedImage {
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s;
    z-index: 1;
}
#sending {
    z-index: +1;
    position: absolute;
    margin-top: -500;
}